<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="index.css">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <div class="contHeader">
        <div class="contHead">

            <div>
                <a href="/homepage"><p class="logo">Freedemy</p></a>
            </div>

            <div class="contSOLS">
                <div>
                    <P id="name" style="font-weight: bold;"></P>
                </div>

                <div>
                    <button class="LoginDsign"><a href="/logout">Log out</a></button>
                </div>
            </div>
            
        </div>

    </div>
    <div class="rapih" id="dataToshow">
    </div>

</body>
<script src="./script/client.js"></script>
</html>