<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Freedemy</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <!-- Header -->
    <div class="contHeader">
        <div class="contHead">

            <div>
                <a href="/"><p class="logo">Freedemy</p></a>
            </div>

            <div class="contSOLS">
                <div>
                    <P style="font-weight: bold;">Baru ?</P>
                </div>

                <div>
                    <button class="LoginDsign"><a href="/signup">Sign up</a></button>
                </div>
            </div>
            

        </div>

        <div class="pad">
            <form action="/signindata" method="POST">
                <div class="contSOL">
                    <div>
                        <input type="text" name="LoginUsername" id="LoginUser" placeholder="Username">
                    </div>
                    
                    <div>
                        <input type="password" name="LoginPassword" id="LoginPass" placeholder="Password">
                    </div>
                    
                    <div>
                        <button class="LoginDsignn">Sign in</button>
                    </div>
                </div>
                    
            </form>
        </div>

    </div>

</body>
<script src="./client.js"></script>
</html>