<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>SignUp</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <div class="bgcol">
        <div class="logoSBox">
            <a href="/"><p class="logoS">Freedemy</p></a>
        </div>
        
        <form action="/signupdata" method="post">
            <div class="pads">
                <div class="contSOL">

                    <div>
                        <p>Thank you, for being a part of freedemy.</p>
                    </div>
    
                    <div>
                        <input type="text" name="username" id="Iusername" placeholder="Username">
                    </div>
    
                    <div>
                        <input type="email" name="email" id="Iemail" placeholder="Email">
                    </div>
    
                    <div>
                        <input type="password" name="password" id="Ipass" placeholder="Password">
                    </div>
                    
                    <div>
                        <input type="password" name="validate" id="Ival" placeholder="Validate">
                    </div>
                    
                    <!-- Submit button -->
                    <div>
                        <button class="LoginDsignn">Submit</button>
                    </div>
    
                </div>
            </div>
            
        </form>

        <div class="back">
            <div class="backbtn">
                <a class="clr" href="/"><p>Home</p></a>
            </div>
    
            <div class="backbtn">
                <a class="clr" href="/error"><p>Q&A ?</p></a>
            </div>
        </div>

    </div>
</body>
</html>