/* body */
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Signup:hover{
    background-color: rgb(101, 160, 160);
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.466);
}

.Signup{
    background-color: rgb(101, 160, 160);
    width: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
    color: black;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.219);
    transition: 0.4s ease-in-out;
}
  
.Login{
    background-color: white;
    width: 5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
    color: black;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.219);
    transition: 0.4s ease-in-out;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.Login:hover{
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.466);
    color: rgb(66, 209, 162);
}

/* paragraph */
.pa1{
    font-size: 2.5rem;
    padding: 0.5rem;
}

/* container */
.contInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contSOL{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contSOL>div{
    padding: 1rem;
}

.contHead{
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgb(66, 209, 162);
    height: auto;
}

.logo{
    margin: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
    text-decoration: underline transparent;
    transition: all ease-in-out 0.5s;
}

.logo:hover{
    text-decoration: underline;
    font-size: 4rem;
}

/* container form setting */
.contInput>div{
    padding: 1rem;
}

.boxInput{
    /* disii nanit */
}

.boxInput>div{
    padding: 1rem;
}

input{
    width: 14rem;
    height: 1.5rem;
    font-size: 1rem;
}

.sbmbtn{
    padding: 1rem;
}

/* BIO css hereeee */
.clr{
    color: cornflowerblue;
    font-size: 2.5rem;
}

.clr:hover{
    cursor: pointer;
}

/* LINK edit */
a {
    text-decoration: none;
}

input{
    border: none;
    padding: 0.2rem;
}