/* body */
body{
    text-align: center;
}

/* background */
.bgcol{
    background-color: aquamarine;
    padding: 2rem;
    margin: 2rem;
}

/* paragraph */
.pa1{
    font-size: 2.5rem;
}

/* container */
.contInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* container form setting */
.contInput>div{
    padding: 1rem;
}

.boxInput{
    /* disii nanit */
}

.boxInput>div{
    padding: 1rem;
}

input{
    width: 14rem;
    height: 1.5rem;
}

.sbmbtn{
    padding: 1rem;
}