<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Home Page</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <div class="bgcol">  

            <form action="/login" method="post">
                <div class="contSOL">
                    <div>
                        <input type="text" name="LoginUser" id="LoginUser" placeholder="Username">
                    </div>
                    
                    <div>
                        <input type="password" name="LoginPass" id="LoginPass" placeholder="Password">
                    </div>
                    
                    <div>
                        <button class="Login">Login</button>
                    </div>

                </div>
                    
            </form>

        <!-- <div>
            <a href="./signup.html"><p class="Signup">Sign Up</p></a>
        </div> -->

    </div>

</body>
</html>