<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>SignUp</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body>

    <div class="bgcol">
        <p class="pa1">Welcome To My Website. Lets create account first.</p>
        
        <a href="./index.html"><p class="clr">BIO</p></a>

        <form action="/data" method="post">
            <div>

                <div class="contInput">

                    <!-- cont1 -->
                    <div class="boxInput">
                        <!-- Name input -->
                        <div>
                            <div>
                                <input type="text" name="name" id="Iname" placeholder="Name">
                            </div>
                        </div>
                        
                        <!-- Username -->
                        <div>
                            <div>
                                <input type="text" name="username" id="Iusername" placeholder="Username">
                            </div>
                        </div>
                    </div>

                    <!-- cont2 -->
                    <div class="boxInput">
                        <!-- pass -->
                        <div>
                            <div>
                                <input type="password" name="password" id="Ipass" placeholder="Password">
                            </div>
                        </div>

                        <!-- validate -->
                        <div>
                            <div>
                                <input type="password" name="validate" id="Ival" placeholder="Validate">
                            </div>
                        </div>
                    </div>

                    <!-- cont3 -->
                    <div class="boxInput">
                        <!-- BoD -->
                        <div>
                            <div>
                                <input type="date" name="bod" id="Ibod" placeholder="Birth of Date">
                            </div>
                        </div>

                        <!-- telp -->
                        <div>
                            <div>
                                <input type="text" name="telp" id="Itelp" placeholder="Telp number">
                            </div>
                        </div>
                    </div>

                    <!-- cont4 -->
                    <div class="boxInput">
                        <!-- Email input -->
                        <div>
                            <div class="ukuranbox">
                                <input type="email" name="email" id="Iemail" placeholder="Email">
                            </div>
                        </div>
                    </div>

                </div>
    
                <!-- Submit button -->
                <div class="sbmbtn">
                    <input type="submit" value="Submit">
                </div>

            </div>
            
        </form>

    </div>
</body>
</html>